<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden z-30"
  header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-sm">Desde $71,090*</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="border-white bg-white border-[3px] text-sm rounded font-medium text-black px-12 py-2 hover:bg-black hover:text-white hover:border-black transition-colors"
          href="">Orden personalizada</a
        >
        <a
          class="border-gray-600 bg-gray-600 border-[3px] text-sm rounded font-medium text-white px-12 py-2"
          href="">Mas informacion</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full">
    <img
      class="h-full w-full object-cover object-center"
      src="/public/ModelS.avif"
      alt="Model S"
    />
  </div>
</section>
